// ============= Employee =============
.emp-profile {
    width: 90px;
    height: 150px;
    border-radius: 5px;
}

.emp-profile-circle {
    width: 120px;
    height: 120px;
    border: 2px solid $primary-col;
    border-radius: 50%;
}

.emp-edit-profile {
    border: 2px solid lightgray !important;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -65px;
}

.emp-profile-btn {
    background: $primary-col;
    left: 126px;
    padding: 7px 10px !important;
}

.border-dash {
    border-left: 3px dashed lightgray;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default.select2-container--focus
    .select2-selection--multiple {
    border: 1px solid $semi-dark;
}

@media screen and (max-width: 767px) {
    .border-dash {
        border-left: none;
    }
}
