// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.btn-theme {
    color: #fff;
    background-color: #4cd195;

    &:hover {
        color: #fff;
    }
}

.bottom-menu {
    bottom: 0;
    width: 100%;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

    a {
        text-align: center;
        span {
            font-size: 14px;
            font-weight: bold;
        }
    }
}
