// MD Bootstrap and Other libraries
@import "~mdbootstrap/css/bootstrap.min.css";
@import "~mdbootstrap/css/mdb.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

// ============== Custom Css ==============
@import "./sidebar";

// ============= Global Css =============
$primary-col: #4cd195;

.pb-8 {
    padding-bottom: 80px;
}

.btn-theme {
    color: #fff;
    background-color: $primary-col;

    &:hover {
        color: #fff;
    }
}

.bottom-menu {
    bottom: 0;
    width: 100%;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

    a {
        text-align: center;
        span {
            font-size: 14px;
            font-weight: bold;
        }
    }
}
